/* styles.css */

/* Import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Import Nunito from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --primary: #6C63FF;
  --primary-drk: #463AFF;
  --accent: #06D19C;
  --secondory: #4641FF;

  --fontA: 'Open Sans', sans-serif;
  --fontB: 'Nunito', sans-serif;

  --text: #666;
  --heading: #111;

  --alt-bg: #F7f7f7;
  --drk-bg: #333C44;
  --lines: #EEE;
}


/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: var(--fontA);
  font-weight: 400;
  background-color: #fff;
  color: var(--text);
  line-height: 1.6;
  padding: 20px;
}

/* Apply Nunito to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontB);
  font-weight: 700;
  color: var(--heading);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--heading);
  stroke-width: 1.2;
}

nav {
  display: flex;
  gap: 20px;
}

main {
  max-width: 800px;
  margin: 10px auto;
}

.card {
  max-width: 400px;
  height: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  margin: 20px auto;
  width: 256px;
  height: auto;
  object-fit: cover;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--alt-bg);
  border: 1.2px solid var(--lines);
  border-radius: 8px;
}

#taskList {
  list-style: none;
}

form {
  display: none;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  padding: 10px;
  background: #fff;
  border: 1px solid var(--lines);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 73%;
  border: 1px solid var(--accent);
  outline: none;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  width: 23%;
  background-color: var(--accent);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  background-color: var(--accent);
  padding: 8px 12px;
  border-radius: 50%;
}

.add-input {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.edit-input {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
}


/* menu list */
.task-menu {
  position: relative;
}

.menu-input {
  display: none;
}

.menu-label {
  cursor: pointer;
}

.menu-list {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-input:checked + .menu-label + .menu-list {
  display: block;
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
}

.menu-list li:hover {
  background: #f0f0f0;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Hover effects */
.task:hover {
  background-color: #f5f5f5;
  border: 1px solid #000;
  transition: background-color 0.3s ease-in-out;
}

/* Hover */
button:hover {
  background-color: var(--primary);
}

/* dark mode */
.dark-mode {
  /* Dark mode styles */
  background-color: var(--heading);
  color: var(--alt-bg);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: var(--alt-bg);
}

.dark-mode svg {
  stroke: var(--alt-bg);
}

.dark-mode .task {
  background-color: var(--drk-bg);
  border-color: var(--text);
}

.dark-mode form {
  background: var(--drk-bg);
  border-color: var(--text);
}


/* Large devices (desktops) */
@media (min-width: 992px) {
  /* CSS rules for desktop layout */
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for tablet layout */
}

/* Small devices (smartphones) */
@media (max-width: 767px) {
  /* CSS rules for smartphone layout */
}